body {
  background-image: url('http://www.genovic.com/thumbs/2013/11/City-Backgrounds-Wallpaper-HD-Wallpapers.jpg');
  font-family: arial;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  padding: 10px 10px 0px 0px;
}
